# macOS
.DS_Store

# R
.Rhistory
.RData
.Rproj.user/

# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Virtual environments
.env/
.venv/
env/
venv/

# Logs and output
*.log
*.out

# IDE settings
.vscode/
.idea/

# Misc
*.bak
*~
